/compomics-relims/target/
compomics-relims.iml
compomics-relims/resources/databases
compomics-relims/.idea/
compomics-relims/src/test/resources/results/
compomics-relims/src/test/resources/repository/
compomics-relims/src/test/resources/databases/
compomics-relims/src/test/resources/image/compomics.png
compomics-relims/src/test/resources/image/exit.png
compomics-relims/src/test/resources/image/logo.png
compomics-relims/src/test/resources/image/logo_small.png
compomics-relims/src/test/resources/image/start.png
compomics-relims/src/test/resources/resources/conf/JavaOptions.txt
compomics-relims/src/test/resources/resources/conf/relims-splash.png
compomics-relims/src/test/resources/resources/image/compomics.png
compomics-relims/src/test/resources/resources/image/exit.png
compomics-relims/src/test/resources/resources/image/logo.png
compomics-relims/src/test/resources/resources/image/logo_notext.png
compomics-relims/src/test/resources/resources/image/logo_small.png
compomics-relims/src/test/resources/resources/image/start.png
compomics-relims/src/test/resources/sourcefiles/Fasta/windows/SP_130428_concatenated_target_decoy.fasta.cui
compomics-relims/src/test/resources/sourcefiles/Fasta/windows/SP_130428_concatenated_target_decoy.fasta.phr
compomics-relims/src/test/resources/sourcefiles/Fasta/windows/SP_130428_concatenated_target_decoy.fasta.pin
compomics-relims/src/test/resources/sourcefiles/Fasta/windows/SP_130428_concatenated_target_decoy.fasta.psq
compomics-relims/src/test/resources/sourcefiles/Mimic_PrideFTP/PRIDE_Exp_Complete_Ac_11954.xml
compomics-relims/resources/conf/relims-windows - Copy.properties
compomics-relims/resources/image/relimslogo.png
compomics-relims/src/main/resources/image/relimslogo.png
compomics-relims/src/test/resources/image/relimslogo.png
compomics-relims/src/test/resources/sourcefiles/Mimic_PrideFTP/PRIDE_Exp_Complete_Ac_3.xml
compomics-relims/src/test/java/com/compomics/relims/suites/IntegrityTestProject1643.java
compomics-relims/src/test/resources/sourcefiles/Mimic_PrideFTP/PRIDE_Exp_Complete_Ac_1643.xml
compomics-relims/src/test/resources/sourcefiles/Mimic_PrideFTP/PRIDE_Exp_Complete_Ac_1643.xml.gz
compomics-relims/src/test/java/com/compomics/relims/suites/IntegrityTestProject2998.java
compomics-relims/src/test/java/com/compomics/relims/suites/IntegrityTestProject8879.java
compomics-relims/src/test/resources/repositoryprojects4manual.txt
compomics-relims/src/test/resources/sourcefiles/Mimic_PrideFTP/PRIDE_Exp_Complete_Ac_2998.xml.gz
compomics-relims/src/test/resources/sourcefiles/Mimic_PrideFTP/PRIDE_Exp_Complete_Ac_8879.xml
compomics-relims/src/test/resources/sourcefiles/Mimic_PrideFTP/PRIDE_Exp_Complete_Ac_8879.xml.gz
compomics-relims\src\test\resources\sourcefiles/
compomics-relims/src/test/resources/log4j.properties
compomics-relims/src/test/resources/sourcefiles/Mimic_PrideFTP/PRIDE_Exp_Complete_Ac_8437.xml.gz
compomics-relims/src/test/resources/sourcefiles/Fasta/windows/SP_130428_concatenated_target_decoy.fasta.00.phr
compomics-relims/src/test/resources/sourcefiles/Mimic_PrideFTP/PRIDE_Exp_Complete_Ac_1982.xml.gz
